<div class="app-container">
  <div class="search-bar">
    <app-search></app-search>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <nav class="bottom-navbar">
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a></li>
      <li><a routerLink="/categories" routerLinkActive="active">
        <mat-icon>list</mat-icon>
        <span>Categories</span>
      </a></li>
      <li><a routerLink="/cart" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>
        <span>My Cart</span>
      </a></li>
      <li><a routerLink="/payments" routerLinkActive="active">
        <mat-icon>credit_card</mat-icon>
        <span>Payments</span>
      </a></li>
      <li><a routerLink="/more" routerLinkActive="active">
        <mat-icon>more_horiz</mat-icon>
        <span>More</span>
      </a></li>
    </ul>
  </nav>
</div>